.dlt{ display: none;}
ul.list-group{
    min-height: 100px;
    *border: 2px solid skyblue;
    border-radius: 4px;
}
.class_b{
    *position: fixed !important;
    *right: 0;
    *top: -10;
}
.class_a section{
	background: none;
}
.hide_u, .hide_u_sb{
	background-color: #d9edf7;
    border: 1px solid #ccc;
    display: none;    
    position: absolute;
    right: 20px;    
    z-index: 99999;
}
.sm{ position: relative; }
span{
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    tansition-property: transform;
}
.section1{
    height: auto !important;
/*     padding: 0px !important; */
}
.fields_.sticky {
    position: fixed;
    width: 20%;
    right: 10px;
    top: 10px;
}
.tables_{
    border-right: 1px solid #e7e7e7;    
}

#content{
    min-height: 300px;
    border:2px solid;
}
.hide_me{
    display: none;
}
#wrapper .nav > li > a{
    padding: 20px !important;
    font-size: 20px;
}
#wrapper .nav > li a i{
    font-size: 20px;
}
#dj_form .glyphicon{
    color: #fff;
}
#dj_form .hide_me .input-group-addon{
    background: #163647 !important;
    border: 1px solid #163647;
}
.input-group{
    margin: 1px;
    width: 100%;
}
.all_sections section{
    min-height: 100px;
    float: left;    
    margin: 10px 0px;
    width: 100%;
    border:solid 1px #ddd;
    border-top:transparent;
    background:#fff !important;
}


#dj_form .col-md-9.tables_{
    margin-bottom: 58px;
}
#dj_form .list-group.col-md-10.col-md-offset-2 {
    margin-bottom: 60px;
}

#dj_form .input-group-addon{
    background:#425F6F !important;
    color:#ffffff !important;
}
#dj_form .glyphicon{cursor:pointer !important;}

.forms-views .form-group {
    margin: 15px 0px;
    float: left;
    width: 100%;
}
.forms-views label.control-label.col-sm-2 {
    float: left;
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
}

.my-form-div{border: solid 2px #000;}
.my-form-div h1{border-bottom:double 4px #6C6C6E;}
.my-form-div .sub label.sub-heading{text-transform:capitalize;}
.my-form-div .sub span{margin:0px 0px 0px 7px;}

.my-form-div .form-panel{border:solid 1px #e5e5e5;}
.my-form-div .form-panel .input-group {background:#e5e5e5; margin:0px;}
.my-form-div .form-panel .input-group label{padding:3px 5px;}
.my-form-div .form-panel .form-group label{padding-top:10px;}

.my-form-div ul{padding-left:0px;}


.my-form-div .form-control{box-shadow:none;}
.my-form-div input:focus{outline:none; box-shadow:none;}

.btn-submit{background:#163647; color:#fff; border:solid 2px #163647; padding:5px 20px; margin:15px 0px;}
.imsaved, .imsaved span{ color: green !important; }