
.custom-form{
  padding: 10px 50px 10px 50px;
}

.select-input{
  width: 100%;
}
.form-group{
  margin-bottom: 5px !important;
}
.sub-category-div{
  display: none;
}
#chatPluginContainer{
  position: relative;
}
#loader{
  position: absolute;
  bottom: 260px;
  right: 80px;
  z-index: 999;
  display: none;
}

.lead-sent{
  color: #f00 !important;
  display: none;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
