
body{
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	margin:0px;
}

.header{
	background:#36454f;
	padding:5px 0px;
}
.header a h4 {
    color: #fff;
	font-family:open sans;
	font-size:15px;
}
.top1 {
    float: right;
    margin-right: 13px;
    margin-top: 5px;
}
.top1 i{
	color:#fff;
	font-size:16px;
	padding:5px 5px;
}
.logo h1{
	font-family:open sans;
	font-size:26px;
	font-weight:bold;
	color:#36454f;
}
.navbar{
	margin-top:0px !important;
}
.header1 .navbar-default{
	background:none;
	border:none;
}
.navbar-collapse.collapse {
    margin-top: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #36454f;
    font-family: open sans;
    font-size: 17px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:#FFF;
}
header .dropdown-menu > li > a{
	line-height:24px;
}

/* Dashboard */

#header-dashboard{
	background:#163647;
	padding:20px 0px;
}

#header-dashboard .logo{
	margin-top: 5px
}

#header-dashboard .logo a{
	color:#ffffff;
	font-size:20px;
}

.main-section .navbar{
	background:#163647;
	border-radius:0px;
	width:290px;
	position:absolute;
	left:0px;
	height:100%;
	z-index:10000;
}

.main-section .navbar .profile{
	width:220px;
	margin:18px auto;
}

.main-section .navbar .profile p{
	color:#ffffff;
	float:right;
	width:150px;
	font-size:18px;
	margin-bottom:0px;
}

.main-section .navbar .profile p a{
	display:block;
	font-size:13px;
	color:#b8c7ce;
}

.main-section .navbar ul{
	padding:0px;
}

.main-section .navbar ul li{
	list-style-type:none;
	display:block;
	margin-bottom:15px;
}

.main-section .navbar ul li a{
	font-size:20px;
	color:#b8c7ce;
	display:block;
	padding:10px 20px;
	line-height:32px;
}

.main-section .navbar ul li a .left-icon{
	font-size:35px;
	margin-right:10px;
	float:left;
}

.main-section .navbar ul li a .fa-angle-right{
	float:right;
	line-height:32px;
}

.main-section .navbar ul li a:hover{
	background:#36454f;
	text-decoration:none;
}

.main-section .right-section{
	margin-left:290px;
	padding:32px;
}

.main-section .right-section .profile-form{
	padding:15px;
	box-shadow:0px 0px 2px #000000;
	border-radius:3px;
}

.main-section .right-section .title{
	background:#36454f;
	padding:10px 20px;
	display:table;
	width:100%;
	border-radius:3px 3px 0px 0px;
	margin-top:-15px;
	margin-bottom:15px;
}

.main-section .right-section .title h1{
	float:left;
	font-size:25px;
	color:#ffffff;
	margin-top:3px;
}

.main-section .right-section .title a.btn{
	float:right;
	width:89px;
	height:36px;
	background:#ffffff;
	border-radius:3px;
	color:#36454f;
	font-size:16px;
	font-weight:600;
}

.profile-form label{
	font-size:22px;
	font-weight:600;
}

.profile-form .form-group {
	display: table;
	margin-bottom: 40px;
	width: 100%;
}

.profile-form .form-group span{
	float:right;
}

.profile-form img{
	width:100%;
}

.main-section .right-section .contact-info{
	margin-top:50px;
}

.main-section .right-section .contact-info h2{
	font-size:30px;
	font-weight:600;
	margin-bottom:20px;
}

.dropdown .btn{
	background:transparent;
	color:#ffffff;
}

.dropdown {
	width: 125px;
}

.dropdown img{
	width:35px;
	margin-right:10px;
}

.btn .caret {
	margin-left: 10px;
}

.dropdown-menu {
	min-width: 90px;
}

.dropdown .btn{
	padding:0px;
}

.right-section .form-group{
	width:100%;
	float:none;
}

@media (min-width:0px) and (max-width:767px){
	.navbar{
		display:none;
	}
	.main-section .right-section{
		margin:0px;
		padding: 20px;
	}
	.profile-form img{
		margin-bottom:15px;
	}
	.profile-form label {
		font-size: 18px;
	}
	.phone-img{
		float:none;
	}
	#header-dashboard .logo a {
		font-size: 13px;
	}
	.dropdown span.n{
		display:none;
	}
	.btn .caret {
		margin-left: 0;
	}
	.dropdown {
		width: 70px;
	}
	#header-dashboard .logo a {
		font-size: 14px;
	}
	#header-dashboard .logo{
		margin-top:4px;
	}
	#header-dashboard{
		padding:10px 0px;
	}
	.profile-form label {
		font-size: 17px;
	}
	.logo .fa-bars {
		font-size: 22px;
		margin-right:5px;
		margin-top:2px;
	}
	.profile-form .form-group {
		margin-bottom: 20px;
	}
}

@media (min-width:768px) and (max-width:991px){
	.main-section .navbar {
		width: 225px;
	}
	.main-section .navbar ul li a {
		font-size: 16px;
	}
	.main-section .navbar .profile {
		width: 215px;
	}
	.main-section .navbar ul li a .left-icon {
		font-size: 28px;
	}
	.main-section .right-section {
		margin-left: 225px;
		padding: 20px;
	}
	.profile-form label {
		font-size: 16px;
	}
}

@media (min-width:1366px){
	.profile-form .form-group {
		margin-bottom: 25px;
	}
}

i.d_w{
	color:#fff;
	font-size:15px;
}