body{
  background: #fff;
}
h4.ks-header{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
.lbl-login{
  color:#00b5db;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 11px;
}
.wrong-pwd{
  background: #00b9de;
  color:white;
  font-weight:500;
  padding: 4%;
  border-radius:10px;
  margin-bottom: 9%;

}
.ks-page .ks-page-content{
  padding-top: 150px;
  padding-left: 49px;
}
.ks-logo{
//margin: auto;
//margin-left: 10%;
//padding-top: 7%;
}
.ks-page .ks-page-content .ks-logo{
  margin-bottom: 0px;
 margin-left: -65px;
}
.ks-header{
    color: #565859;
    font-size: 22px;
    font-family: OpenSans;
    margin-left: -60px;
}
.ks-page .ks-page-content .ks-panel{
  background-color:none !important;
  border:none !important;
  margin: 0 !important;
  margin-left: 1%;
}
.ks-page .ks-page-content .ks-panel .card-block{
  padding-top: 21px;
}
.ks-page .ks-page-content .ks-panel .form-control {
      //border-color: rgba(57,81,155,.2);
    border-color:  #00bae1;
    border-radius:6px;
    border:2px solid #00bae173;
    background: #f1f9ff;
    color: #080808;
    height: 29px;
    font-size: 11px;
}

.la-check:before {
    content: "\f17b";
    color: #00b5db;
    color: #00b5db;
    font-weight: 700;
}
.la-close:before {
    color: #00b5db;
    color: #00b5db;
    font-weight: 700;
}
.remember_label{
      align-content: center;
      margin-left: 7%;
      font-weight: 700;
      color: #00b5db;
      vertical-align: middle;
      align-items: center;
      display: inline-block;
      position: inherit;
      height: 1px;
      padding-top: 0%;
      cursor: pointer;
      font-size: 11px;
}
.ks-checkbox-slider{
    height: 30px;
    //width: 80px;
    border-radius: 7px;
    background-color: #b5ecf6b8;
    border:none !important;
  //  margin-top: 5%;
      margin-bottom: 6%;
}
.ks-checkbox-slider>.ks-indicator{
    width: 18px;
    height: 24px;
    border-radius:5px;
    background: white !important;
}
.ks-page .ks-page-content .ks-panel .form-control:focus{
      border:2px solid #00bae173;
      box-shadow: 1px 1px 1px 1px #00bae173;
}
.ks-page .ks-page-content .ks-panel{
      margin: auto;
}
.input-icon.icon-lg.icon-left .icon-addon {
    //padding-left: 264px;
}
.la-at:before {
    content: "\f128";
}
.loginbtn , .loginbtn:hover{
  background-color: #ff8b46;
  color:white !important;
  font-weight: 700;
  border:none;
  outline:none;
  width:50%;
  text-transform: uppercase;
  border-radius: 6px;
  height: 26px;
  font-size: 11px;
  padding: 0px;
}
.loginbtn:hover{
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #cc8b46;
}
.parent-container{
  margin: 0 !important;
  height: 100%;
}
.help-block{
  //color: red;
  //margin-left: 5px !important;
}
.iframe-content iframe{
  margin-top: 18%;
}
.donthvacclink{
    color:black;
    font-size: 13px;
    margin-top: 10px;
    display: inline-block;
}
.donthvacclink:hover{
    color:#575555;
    font-size: 13px;
}
.createacclink{
    color:#00b5db;
    font-size: 13px;
    margin-top: 0px;
    display: inline-block;
}
.createacclink:hover{
  /*font-family: OpenSans;*/
  color:#0396b5;
  font-size: 13px;
  margin-top: 0px;
  display: inline-block;
}


@media screen and (max-width:1024px){
    .ks-page .ks-page-content .ks-panel .card-block {
        padding: 30px;
        margin-left: 0;
        padding-left: 0;
        margin-right: 34px;
        margin-left: 55px;
    }
    .iframe-content iframe {
      margin: 0 auto;
      margin-top: 18%;
  }
    .ks-page .ks-page-content .ks-panel h4{
      text-align: right;
          margin-right: 38px;
    }
    .ks-page .ks-page-content .ks-logo{
        margin-left: -36px;
    }
    .form-input{
      margin-left: 0 !important;
    }
}
@media screen and (max-width:1000px){
    .ks-page .ks-page-content .ks-panel .card-block {
        padding: 30px;
        margin-left: 0;
        padding-left: 0;
        margin-right: 50px;
        margin-left: 55px;
  }
  .ks-page .ks-page-content .ks-panel h4{
        margin-right: 26px;
  }
  .form-input{
  max-width: 98% !important;
  }
}
@media screen and (max-width:990px){
  .ks-page .ks-page-content .ks-panel .card-block {
      padding: 30px;
      margin-left: 0;
      padding-left: 0;
      margin-right: 50px;
      margin-left: 55px;
  }
}

@media screen and (max-width:950px){
    .ks-page .ks-page-content .ks-panel .card-block {
        padding: 30px;
        margin-left: 0;
        padding-left: 0;
        padding-left: 0 !important;
        margin-left: 60px;
        margin-right: 40px;
    }
    .ks-page .ks-page-content .ks-panel h4 {
        margin-right: 32px;
      }
    .ks-page .ks-page-content {
        padding-top: 150px;
        padding-left: 35px;
    }
}

@media screen and (max-width:900px){
    .iframe-content iframe {
        margin-top: 18%;
        width: 84%;
        margin-right: -8%;
      }
}

@media screen and (max-width:850px){
    .iframe-content iframe {
        margin-top: 18%;
        width: 80%;
        margin-right: -12%;
    }
    .ks-page .ks-page-content .ks-logo {
        margin-bottom: 0px;
        margin-left: -32px;
      }
    .ks-page .ks-page-content .ks-panel .card-block {
        padding: 30px;
        margin-left: 0;
        padding-left: 0 !important;
        margin-left: 76px;
        margin-right: 40px;
    }
    .ks-page .ks-page-content .ks-panel h4 {
        margin-right: 23px;
        font-size: 21px;
    }
    .form-input {
    margin-left: -22px !important;
}
}
@media screen and (max-width:800px){
    .iframe-content iframe {
      margin-top: 18%;
        width: 80%;
        margin-right: 0%;
    }
    .ks-page .ks-page-content .ks-panel h4 {
    margin-right: 23px;
    font-size: 20px;
  }
  .form-input {
      max-width: 100% !important;
    }
}
@media screen and (max-width:768px){
    .iframe-content iframe {
      margin-top: 18%;
      width: 78%;
      margin-right: -15%;
  }
    .ks-page .ks-page-content .ks-logo {
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 24px;
    }
  .form-input {
        width: 83%;
        margin-right: 0px;
        margin-left: -16px !important;
      }
}
@media screen and (max-width:761px){
      .ks-page .ks-page-content .ks-logo{
          margin-left: -114px !important;
      }
    .ks-page .ks-page-content .ks-panel .card-block{
      margin-right: 0;
      margin-left: 0;
    }
    .ks-page .ks-page-content .ks-panel h4{
      text-align: center;
      //padding-left: 21%;
      font-size: 22px;
      }
    .ks-page .ks-page-content{
        padding-left: 0;
      }
    .iframe-content iframe{
      width: 80%;
      margin-top: 10%;
      margin: 0 auto;
    }
    .form-input {
        width: 83% !important;
        margin-right: 0px;
        margin-left: 0px !important;
    }
      .ks-page .ks-page-content {
        padding-left: 38px;
      }
      .loginbtn, .loginbtn:hover{
        width: 35%;
      }
}
@media screen and (max-width:550px){
        .ks-page .ks-page-content {
            padding-left: 75px;
      }
}

@media screen and (max-width:520px){
    .ks-page .ks-page-content {
            padding-top: 50px;
            padding-left: 88px;
      }
    .ks-page .ks-page-content .ks-panel .card-block{
      padding-left: 0 !important;
    }
    .ks-page .ks-page-content .ks-logo {
        padding-left: 0;

    }
}
@media screen and (max-width:500px){
        .ks-page .ks-page-content .ks-logo {
          padding-left: 0;
        // margin-left: -28px !important;
      }
}
@media screen and (max-width:480px){
  .ks-page .ks-page-content .ks-logo {
      padding-left: 0;
    //  margin-left: -38px !important;
    }
}
@media screen and (max-width:450px){
    .ks-page .ks-page-content .ks-logo {
      padding-left: 0;
    }
    .ks-page .ks-page-content {
    padding-top: 50px;
padding-left: 88px;
}

}
@media screen and (max-width:414px){
    .ks-page .ks-page-content .ks-logo {
        padding-left: 0;
        //margin-left: -65px !important;
    }
}
@media screen and (max-width:360px){
  .iframe-content iframe {
        width: 100%;
        margin-top: 10%;
      margin-right: 0;
      }
      .ks-page .ks-page-content {
        padding-top: 50px;
        padding-left: 0px;
        }
  .ks-page .ks-page-content .ks-logo {
    padding-left: 18%;
    }
  .ks-page .ks-page-content .ks-panel{
    margin: auto !important;
  }
}
